header{
    font-family: fantasy;
    position: relative;
    display: flex;
    
}
nav ul{
    display: flex;
    list-style: none;
}

.topo{
    right:  0px;
    position: absolute;
    
    display: flex;
    
}
.topo li{
    
    margin: 10px;
}